{% extends 'base.html' %}
{% load static %}

{% block title %} home {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
           
            <h1 class="titulo-estilo">óla mundo</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-estilo">
                <div class="card-header texto-estilo">
                    {% if user.is_authenticated %}
                    Bem-vindo, {{ user.username }} !
                    {% else %}
                    Bem vindo ao nosso site!
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <p>Você está logado.</p>
                        <a href="{% url 'chanda_logout' %}" class="btn btn-danger">Logout</a>
                    {% else %}
                        <p><a href="{% url 'chanda_login' %}">login</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}